
body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
   display: block;
    
}

.bodypart{
    background-color: lightgrey;

}
.headerPart{
    background-image:url('../IMG/backgroundImage.gif' );
    width:100%;
    height:600px;
    padding-bottom: 60px;
}

nav {
   
    height: 60px;
    margin-left:2px;
    padding:2px;
    
}

.nameLabel{
    padding: 25px 10px 0 110px;
    margin: 15px 10px 0 10px;
    color: antiquewhite;
    font-size: 25px;
    line-height: 80px;
    font-weight: 200;
}

nav ul{
    float: right;
    margin: 10px 40px 0 0;
    padding:10px 40px 0 0;
    
}

nav ul li{
    display:inline-block; 
    margin: 4px;
    color: aqua;
    padding:2px;

}

nav ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size:16px;
    padding:3px;
    line-height: 20px;
}

nav ul li a:hover,a:active{
    background-color: aqua;
    color:black;
    transition: 0.5s;
    border-radius: 5%;
}
#check{
    display:none;
}
.toggleButton
{
    display:none;
    float:right;
}
section {
    padding:100px 0 0 0;
    margin:10px 20px 0 5px;
    justify-content: center;
    text-align: center;
    
}

section h3{
    color:antiquewhite;
    font-size:22px;
}
.linkSection{
    padding:15px 0 0 0;
}
.logo{
    margin:0 5px;
    padding:0 5px;
}
.logo img{
    width:30px;
    height:30px;
}

 .imagge{
    border-radius:50%;
    
}

.typeddata{
    color:rgb(201, 247, 148);
}
button
{
    padding:8px 15px;
    border-radius: 8%;
}

 .resume{
    background-color:blue;
    color:azure;
    font-size:20px;
    margin:7px;
}

.imagge:hover{
    cursor:pointer;
    transform:scale(1.1);
    transition: all 0.5s;
    
}

.resume:hover{
    background-color: lightgreen;
    transition:all 0.5s;
    color:white;
}
.about {
    background-color: white;
    width: 82%;
    display:flex;
    box-shadow: 10px 11px 12px 0px gray;
    margin-left:9%;
    margin-right:9%;
    margin-top:50px;
    border-radius: 5px;
    
}
.aboutme{
    width:50%;
    
   
}
.abm
{
    text-align: center;
    justify-content: center;
    padding-top:30px;
    font-size:32px;
    font-weight:900;
    font-family: 'Courier New', Courier, monospace;
    color:grey;
}
.detail{
margin:5px 20px 5px 5px;
}

.detail p{
    margin-left: 30px;
    margin-right: 30px;
    color:grey;
    font-size:18px;
    font-weight: 100;
}

.basicinfo{
    margin:5px 20px 5px 5px;
    
}

.twodivs{
    
    color:grey;
    
}

.infotitle{
    display:inline-block;
    
}

.detailinfo{
    
    display:inline-block;
    font-weight: lighter;
    
}
.detailinfo .h3tag{
    font-weight: lighter;
    margin-left:10px;
    
}
.skills{
    background-color: white;
    box-shadow: 10px 11px 12px 0px gray;
    width: 82%;
    margin-left:9%;
    margin-right:9%;
    margin-top:50px;
    border-radius: 5px;
}

.skills .row1{
    padding:20px 0px 10px 0px;
    justify-content: center;
    text-align: center;
}

.skills .row2{
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.skills .row1 h2{
    font-size:30px;
}


.projects{
    background-color: white;
    box-shadow: 10px 11px 12px 0px gray;
    width: 82%;
    margin-left:9%;
    margin-right:9%;
    margin-top:50px;
    border-radius: 5px;
}

.projects .row1{
    padding:20px 0px 10px 0px;
    justify-content: center;
    text-align: center;
}

.projects .row1 h2{
    font-size:30px;
  
}

.projects .row2{
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
   
}

.projects .row2 .project{
    left:-100%;
    width: 90%;
    height:600px;
    box-shadow:2px 3px 4px 2px grey;
    margin:30px 5px 20px 30px;
    overflow: hidden;
}


.projects .row2 .project .pName{

    justify-content: center;
    text-align: center;
    color:darkslategrey;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-size:20px;
    
}
 .projects .row2 .project .pImage{
    margin:10px 5px 10px 0px;
    width:100%;
    height:200px;
    text-align: center;
    border-radius: 5px;

 }

 .projects .row2 .project:hover .pImage {
    
        cursor:pointer;
        transform:scale(1.1);
        transition: all 2s;
  
 }

 .projects .row2 .project .pDetail{

    margin: 10px 5px 10px 20px;

 }

 .projects .row2 .project .skillsUsed{

    display:inline-block;
    justify-content: center;
    margin:0px 8px 0px 12px;


 }

 .projects .row2 .project .skillsUsed .skl{
    background-color: aqua;
    margin:5px 8px 5px 12px;
    padding:8px 8px 8px 8px;;
    border-radius:5px;
    font-size:15px;
    float:left;
 }

 .projects .row2 .project .codesnimages{

    display:flex;
    justify-content: space-between;

 }

 .projects .row2 .project .codesnimages .images{
    font-size: 15px;
    font-weight: 200;
    background-color: aqua;
    margin:5px 18px 5px 18px;
    border-color: aqua;
    padding:8px 8px 8px 8px;;
    border-radius:5px;
 }

 .projects .row2 .project .codesnimages .codes{

    font-size: 15px;
    font-weight: 200;
    background-color: aqua;
    border-color: aqua;
    margin:5px 18px 5px 18px;
    padding:8px 8px 8px 8px;;
    border-radius:5px;

 }


.skills .row2 .progress-container{
  
    margin:5px 10px 5px 10px;
    display:block;
    padding-left: 40px;

}
.skills .row2 .progress-container h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
    

}

.skills .row2 .progress-container .progressbar
{
    position: relative;
    height:25px;
    width:85%;
    border: 1px solid green;
    background-color: white;
    border-radius: 30px;
    box-shadow:3px 4px 5px 0px gray;
}

.skills .row2 .progress-container .progressbar span
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0%;
    height:100%;
    font-weight: 800;
    font-size:20px;
    border-radius: 30px;
    color:white;
    background:linear-gradient(90deg, rgba(76,175,80,1) 50%, rgba(50,222,132,1) 100%);
    text-align: center; 
    transition: all 0.5s linear;
}


@media screen and (max-width: 903px) {

    .nameLabel {
       padding: 5px 10px 0 50px;
       margin: 15px 10px 0 10px;
       
    }

    nav ul{
        background-color:rgba(46, 37, 37, 0.685);
        position: fixed;
        margin:0px;
        float:none;
        width:200px;
        height: 100vh;
        right:-100%;
    }

    nav ul li{
        display:block;
        justify-content: center;
        text-align: center;
        margin:10px 0 10px 0;
        padding: 10px 0 10px 0;
    }

    nav ul li a{
        font-size: 20px;
    }
    #check{
        display:none;
    }
    .toggleButton
    {
        display:block;
        margin:5px 40px 0 0;
        float:right;
    }

    #check:checked ~ ul{
    right:0;
    transition:all 0.5s
    }
   
    #check:checked ~ .nameLabel
    {
        position:fixed;
        left:-250px;
        transition:all 0.5s;
    }

    #check:checked ~ label .toggleButton
    {
        position: fixed;
        right: 210px;
        transition : all 7s ease-in;
    }

    .twodivs{
       justify-content: space-between;
    }

    .aboutme{
        width:100%;
    }

    .about{
        display:block;
        width:95%;
        margin:40px 2.5% 40px 2.5%;
    }

    .infotitle{
        margin-left:30px;

    }

    .skills .row2{
        display:block;
    }
    .skills .row2 .progress-container .progressbar
{
    width:80%;
}
    .projects .row2{
        display:block;
    }

  }

  